/* Header.css */

header {
    background-color: #333; /* Bakgrundsfärg */
    color: #fff; /* Textfärg */
    text-align: center;
    padding: 1rem; /* Mellanrum runt innehållet */
    height: 5em;
  }
  
  header h1 {
    font-size: 2rem; /* Storlek på rubriktexten */
    margin: 0; /* Ta bort eventuell marginal */
  }
  